<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Housespiffing App</title>
</head>
<body>
  <div class="bg-dark bg-gradient">
    <app-landing></app-landing>
      <div class="d-flex flex-row gap-2 w-100">  
          <app-list-menu></app-list-menu>   
        <div class="flex-grow-1 p-2 text-nowrap w-20 flex-column">
          <router-outlet></router-outlet>
        </div>      
      </div>
    <app-footer></app-footer>
  </div>  
</body>
</html>