<div class="d-flex flex-column gap-2 text-warning text-center">
  <app-category-navbar></app-category-navbar>
  <div class="text-wrap">
    <h3>Browse categories</h3>
  </div>
  
    <mat-list>
      <div class="d-flex flex-column gap-2">
      @for(category of categories; let i = $index; track i) {
        <mat-list-item>
         <span matListItemTitle class="text-info text-uppercase fs-2 fw-bold fst-italic" formControlName="name">{{category.name}}</span>
         <span matListItemLine class="">{{category.description}}</span>
       </mat-list-item>
      @for(chore of category.chores; let j = $index; track j) {
      <mat-list-item>
        <span matListItemLine>{{chore.name}}</span>
      </mat-list-item>
        <mat-list-item><span matListItemLine>{{chore.description}}</span></mat-list-item>
        <mat-list-item><span matListItemLine>Due Date: {{chore.dueDate}}</span></mat-list-item>     
       } 
       <mat-action-list>
        <button mat-raised-button>Delete</button>
      </mat-action-list>
      }            
      </div>
    </mat-list>
  </div>